
body{
    background-color:azure;
    background-image:url("images/Ocean.JPG");
    text-align:center;
}

ul{
    list-style-type:none;
    padding:0;
    overflow: hidden;
    background-color: #354B73;
    opacity:0.65;
}

li{
    display:inline;
    float:left;
}

li a {
    font-family:arial;
    font-size:20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#0C1F41;
}

h1{
    color:#19263C;
    font-size:160px;
    font-family:arial;
    display:inline;
    text-align:left;
}

p{
    color:#19263C;
    font-size:44px;
    padding:0;
    text-align:center;
    display:inline;

}
#desc{
    color:#19263C;
    font-size:21px;
    text-align:center;  
    display:inline;
    font-family:arial;
}

#section{
    width:875px;
    height:700px;
    padding:20px;
    background-color:#354B73;
    opacity:0.65;
    font-family:verdana;
    margin: 0 auto;
    position:relative;
}

button{
    color:white;
    background-color:#354B73;
    text-align:center;
    display:inline-block;
    border:none;
    font-size:26px;
    padding: 14px 28px;
    opacity:0.65;
    margin-left:14px; 
}

button:hover{
    background-color:#0C1F41;
}

.mail{
    color:white;
    background-color:#36454f;
    text-align:center;
    display:inline-block;
    border:none;
    font-size:26px;
    padding: 14px 28px;
    margin-left:0px; 
    opacity:1;
    width:550;
    margin:10px;
}

.mail:hover{
    background-color:#0C1F41;
}

#modal_header{
    font-color:#354B73;
    font-family:sans-serif; 
}

.modal{
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

.contact{
    font-color:blue;
    max-width:700px;
    height:650px;
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:white;   
    border-width: 2px;
    border-bottom-width:42px;
    border-bottom-color:white;
    border-bottom-style: solid;
    border-top-width:10px;
    border-top-color:white;
    border-top-style: solid;
}

.popup-close{
    width:15px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    transform:translate(-7%, -48%);
    border-radius:1000px;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:black;
    font-size:24px;
}

.popup-close:hover{
    color:#354B73;
}

input{
    width:549px;
    margin-right:300px;
    font-family:verdana;
    margin:17px;
    margin-bottom:0px; 
    height:31px;
    font-size:16px;
}

input:focus{
    border: 3px solid #555;
}

textarea{
    font-size:20px;
}

textarea:focus{
    border: 3px solid #555;
}